@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FAF7F2;
    color: #26211E;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Gold Shimmer & Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #F2ECE1;
}
::-webkit-scrollbar-thumb {
  background: #C59B27;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9A7514;
}

.gold-gradient {
  background: linear-gradient(135deg, #F9E7B9 0%, #D4AF37 50%, #A67C1E 100%);
}

.maroon-gradient {
  background: linear-gradient(135deg, #821024 0%, #5E0817 100%);
}
